p{
    margin:0;
    padding:0;
}
a{
    text-decoration: none;
    color: black;
}
fakeA{
    cursor: pointer;
}
ul{
    list-style: none;
    text-decoration: none;
    margin: 0;
    padding: 0;
}

/*  
  _    _  ____  __  __ ______ _____        _____ ______ 
 | |  | |/ __ \|  \/  |  ____|  __ \ /\   / ____|  ____|
 | |__| | |  | | \  / | |__  | |__) /  \ | |  __| |__   
 |  __  | |  | | |\/| |  __| |  ___/ /\ \| | |_ |  __|  
 | |  | | |__| | |  | | |____| |  / ____ \ |__| | |____ 
 |_|  |_|\____/|_|  |_|______|_| /_/    \_\_____|______|*/


#index p, body{
    margin: 0;
    padding:0;
}
#index body{
    overflow-x: hidden;
}
#index #groteLOT{
    width: 100vw;
    height: 70vh;
    background-color: #4f81bd;
    padding-top: 1px;
    margin-top: -1px;
}
#index #groteLOT #midden{
    background-color: rgba(255, 0, 0, 0);
    width: 100vw;
    height: 25vh;
    position: relative;
    margin-top: -12.5vh;
    top: 35vh;
    text-align: center;
    transition: background-color 0.2s ease-in 0s;
}
#index #midden p{
    transition: color 0.3s ease-in 0s;
}
#index #groteLOT #midden:hover{
    background-color: white;
}
#index #groteLOT #midden:hover p{
    color: white;
    color: #4f81bd;
    font-size: 4vw;
}
#index #groteLOT p{
    color: white;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    font-family: Cambria;
    font-size: 10vw;
    font-style: italic;
    color: white;
}
#index .navVierkant{
    padding: 0;
    width: 15vw;
    height: 15vw;
    margin: calc((40% - 16px) / 8);
    background-color: #3AC2E8;
    text-align: center;
    float: left;
    transition: all 0.1s ease-in 0s;
}
#index .navVierkant:hover{
    background-color: #1291B5;
    height: 13vw;
    width: 13vw;
    margin: calc((40% - 16px) / 8 + 1%);
}
#index .navVierkant p{
    color: white;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    font-family: Cambria;
    font-size: 2vw;
    font-style: italic;
}
#index #content{
    width: 100%;
    height: 25vw;
    background-color: white;
}



/*
  __  __ _____ _   _ _____ _____          _____ ____   ____  ______ _  __
 |  \/  |_   _| \ | |_   _|  __ \   /\   / ____|  _ \ / __ \|  ____| |/ /
 | \  / | | | |  \| | | | | |  | | /  \ | |  __| |_) | |  | | |__  | ' / 
 | |\/| | | | | . ` | | | | |  | |/ /\ \| | |_ |  _ <| |  | |  __| |  <  
 | |  | |_| |_| |\  |_| |_| |__| / ____ \ |__| | |_) | |__| | |____| . \ 
 |_|  |_|_____|_| \_|_____|_____/_/    \_\_____|____/ \____/|______|_|\_\*/

#MD .hoverinfo{
    position: absolute;
    display: inline-block;
    opacity: 0;
    background-color: rgb(91, 91, 91);
    color: white;
    font-family: 'Catamaran', sans-serif;
    font-size: 15px;
    max-width: 15vw;
    word-wrap: break-word;
    padding: 8px;
    border-radius: 10px;
    left: 0;
    top: 0;
    transition: opacity 0.2s ease-in-out 0s;
}

#MD{
    margin: 0;
    padding: 0;
}
/*.nanobar{
    position: relative;
    width: 100%;
    height: 4px;
    z-index: 9999;
    top: 0.
}
.bar{
    width: 0;
    height: 100%;
    transition: height .3s;
    transition: width 0.3s cubic-bezier(.42,.98,1,.21) 0s;
    background: #000;
}*/

/*  _                                  
 | |                                 
 | |_ ___  _ __    _ __   __ ___   __
 | __/ _ \| '_ \  | '_ \ / _` \ \ / /
 | || (_) | |_) | | | | | (_| |\ V / 
  \__\___/| .__/  |_| |_|\__,_| \_/  
          | |                        
          |_|        */                
#topnav{
    z-index: 2;
    position: fixed;
    top: 0;
    height: 5vh;
    width: 100vw;
    background-color:#73C7DE;
    text-align: center;
}
#topnav #navItems{
    display: inline-block;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}
#topnav #navItems a{
    display: block;
    color: #0F6B8A;
    float: left;
    font-size: 2vh;
    text-decoration: none;
    width: calc(110px + 4vw);
    font-family: 'Catamaran', sans-serif;
    line-height: 5vh;
}
#topnav #navItems a:hover{
    background-color: #B5DDE8;
}

/*
  _ _       _                                        
 | (_)     | |                                       
 | |_ _ __ | | _____ _ __ _ __ ___   ___ _ __  _   _ 
 | | | '_ \| |/ / _ \ '__| '_ ` _ \ / _ \ '_ \| | | |
 | | | | | |   <  __/ |  | | | | | |  __/ | | | |_| |
 |_|_|_| |_|_|\_\___|_|  |_| |_| |_|\___|_| |_|\__,_|*/

#MD #menu{
    position: fixed;
    top: 5vh;
    width: 15vw;
    max-width: 270px;
    min-width: 205px;
    height: 95vh;
    float: left;
    background-color: #F5F5F5;
}
#MD #menu #functies{
    position: relative;
    z-index: 5;
    height: 27vh;
    margin-top: 50px;
}
#MD #menu li ul{
    display: none;
}
#MD #menu ul{
    list-style: none;
    text-decoration: none;
    margin: 0;
    padding: 0;
}
#MD lijn{
    position: absolute;
    z-index: 0;
    display: block;
    width: 80%;
    top: 27vh;
    left: 10%;
    height: 3px;
    box-shadow: 0px 3px 0px 0px #B3B3B3;
}

/*visibility van dropdowns*/
#MD #functies .ul1 li:hover .ul2{
    display: block;
}
#MD #functies .ul2 li:hover .ul3{
    display: block;
}

/*opmaak van verschillende layers*/
/*----layer 1*/
#MD #functies .li1{
    display: block;
    width: 80%;
    margin-left: 20%;
    font-family: 'Catamaran', sans-serif;
    font-size: 18px;
    align-items: center;
}
#MD #functies .a1, .a1b{
    padding: 10px;
    display: block;
}
#MD #functies .a1:hover{
    background-color: rgba(63, 142, 191, 0.15);
}
#MD #functies .a1b:hover{
    background-color: white;
}
#MD #functies .li1:hover, .li1:hover .ul2{
    box-shadow: inset -3px 0px 0px 0px #73C7DE;
    background-color: white;
}

/*----layer 2*/
#MD #functies .ul2{
    position: absolute;
    height: auto;
}
#MD #functies .li2{
    box-shadow: inset 2px 0px 0px 0px #8C8C8C;
    display: block;
    width: calc(100% - 25px);
    float: right;
    font-family: 'Catamaran', sans-serif;
    font-size: 18px;
}
#MD #functies .a2{
    padding: 10px;
    display: block;
}
#MD #functies .li2:hover, .li2:hover .ul3{
    box-shadow: inset -3px 0px 0px 0px #A4F53B, inset 2px 0px 0px 0px #8C8C8C;
    background-color: white;
}
#MD #functies .a2:hover{
    background-color: rgba(102, 228, 5, 0.19);
}

/*----layer 3*/
#MD #functies .ul3{
    position: absolute;
    height: auto;
    z-index: 7;
}
#MD #functies .li3{
    box-shadow: inset 2px 0px 0px 0px #8C8C8C;
    display: block;
    width: calc(100% - 25px);
    float: right;
    font-family: 'Catamaran', sans-serif;
    font-size: 18px;
}
#MD #functies .a3{
    padding: 10px;
    display: block;
}
#MD #functies .a3:hover{
    background-color: #FFF2F2;
    box-shadow: inset 2px 0px 0px 0px #8C8C8C, inset -3px 0px 0px 0px #F05B5B;
}


/*
  _ _       _                               
 | (_)     | |                              
 | |_ _ __ | | _____ _ __ _ __   __ ___   __
 | | | '_ \| |/ / _ \ '__| '_ \ / _` \ \ / /
 | | | | | |   <  __/ |  | | | | (_| |\ V / 
 |_|_|_| |_|_|\_\___|_|  |_| |_|\__,_| \_/  
                                            
*/
#MD #navigatie{
    height: 60vh;
    overflow-y: scroll;
}
#MD #navigatie::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}
#MD #navigatie .navmaandInhoud{
    display: none;
}
#MD #navigatie .navjaarInhoud{
    display: block;
}
#MD #navigatie .expand{
    position: absolute;
    height: 15px;
    width: 15px;
    margin-top: -7.5px;
    top: 50%;
    right: 6px;
    opacity: 0;
}
#MD #navigatie .helper {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

/*opmaak van verschillende layers*/
/*----layer 1*/
#MD #navigatie .navjaar{
    /*z-index: 1;*/
    display: block;
    width: calc(13vw - 10px);
    margin-left: calc(2vw + 10px);
    font-family: 'Catamaran', sans-serif;
    font-size: 3vh;
    align-items: center;
}
#MD #navigatie .navjaarlink{
    position: relative;
    padding-left: 10px;
    display: block;
}
#MD #navigatie .navjaarlink:hover{
    background-color: rgba(63, 142, 191, 0.15);
}
#MD #navigatie .navjaarlink:hover .expand{
    opacity: 1;
}
#MD #navigatie .navjaar:hover{
    box-shadow: inset -3px 0px 0px 0px #73C7DE;
    background-color: white;
}


/*----layer 2*/
#MD #navigatie .navjaarInhoud{
    margin-left: 25px;
    box-shadow: inset 2px 0px 0px 0px #8C8C8C;
}
#MD #navigatie .navmaand{
    display: block;
    /*z-index: 2;*/
    width: calc(13vw - 35px);
    font-family: 'Catamaran', sans-serif;
    font-size: 1.7vh;
}
#MD #navigatie .navmaandlink{
    position: relative;
    padding-left: 10px;
    display: block;
    padding-top: 3px;
    padding-bottom: 3px;
}
#MD #navigatie .navmaand:hover{
    box-shadow: inset -3px 0px 0px 0px #A4F53B, inset 2px 0px 0px 0px #8C8C8C;
    background-color: white;
}
#MD #navigatie .navmaandlink:hover{
    background-color: rgba(102, 228, 5, 0.19);
}
#MD #navigatie .navmaandlink:hover .expand{
    opacity: 1;
}
#MD #navigatie .navmaand:hover .navmaandInhoud{
    box-shadow: inset 2px 0px 0px 0px #8C8C8C;
}

/*----layer 3*/
#MD #navigatie .navmaandInhoud{
    box-shadow: inset 2px 0px 0px 0px #8C8C8C;
    margin-left: 25px;
}
#MD #navigatie .navdag{
    /*z-index: 3;*/
    display: block;
    width: calc(13vw - 60px);
    font-family: 'Catamaran', sans-serif;
    font-size: 1.4vh;
}
#MD #navigatie .navdaglink{
    padding-left: 10px;
    display: block;
    padding-top: 1px;
    padding-bottom: 1px;
}
#MD #navigatie .navdaglink:hover{
    box-shadow: inset 2px 0px 0px 0px #8C8C8C, inset -3px 0px 0px 0px #F05B5B;
    background-color: #FFF2F2;
}




/*INHOUD*/
#MD section{
    box-sizing: border-box; 
    background-color: white;
    padding-left: 2vh;
    padding-top: 2vh;
    padding-right: 2vh;
    position:relative;
    left: 15vw;
    top: 5vh;
    width: calc(85vw - 17px);
}

/*
  _        _          _ _            
 | |      | |        | | |           
 | |_ __ _| |__   ___| | | ___ _ __  
 | __/ _` | '_ \ / _ \ | |/ _ \ '_ \ 
 | || (_| | |_) |  __/ | |  __/ | | |
  \__\__,_|_.__/ \___|_|_|\___|_| |_|*/

/*JAREN*/
#MD #inhoud .jaar jaarnaam{
    display: block;
    width: 100%;
    height: 10vh;
    text-align: center;
    line-height: 10vh;
    font-size: 5vh;
    font-family: helvetica;

    margin: 0vh auto 0 auto;
    box-shadow: inset 0 -10px 0px 0px #C45454;
    background-color: #FAC0C0;
    transition: all 0.1s ease-in 0s;
}
#MD #inhoud .jaar jaarnaam h1{
    -webkit-user-select: none;
    position: relative;
    display: block;
    width: 50vw;
    margin: 0 0 0 -25vw;
    left: 50%;
}
#MD #inhoud .maanden{
    display: block;
    box-sizing: border-box;
    margin-left: 2.5%;
    box-shadow: inset 7px 0px 0px 0px #aaaaaa;
    padding-top: 2.5vh;
    margin-top: calc(1.5vh - 1px);
}

/*MAANDEN*/
#MD #inhoud .maand maandnaam{
    display: block;
    width: 97.5%;
    height: 5vh;
    text-align: center;
    line-height: 5vh;
    font-size: 2vh;
    font-family: helvetica;

    margin: 0 0 1vh 2.5%;
    box-shadow: inset 0 -4px 0px 0px #294380;
    background-color: #82A8FF;
    transition: all 0.1s ease-in 0s;
}
#MD #inhoud .maand maandnaam h2{
    -webkit-user-select: none;
    position: absolute;
    display: block;
    width: 50vw;
    margin: 0 0 0 -25vw;
    left: 50%;
}
#MD #inhoud .dagen{
    display: block;
    box-sizing: border-box; 
    margin-left: 5%;
    margin-bottom: 4vh;
    padding-left: 2.5%;
    box-shadow: inset 7px 0px 0px 0px #aaaaaa;
}
#MD #inhoud .maand{
    display: inline;
}


/*DAGEN*/
#MD #inhoud .lottable{
    border-collapse: collapse;
}

#MD #inhoud .weekdag{
    font-family: 'Catamaran', sans-serif;
    text-align: center;
}
#MD #inhoud .gebeurtenis{
    font-family: 'Catamaran', sans-serif;
}
#MD #inhoud tr{
    background-color: #eaf1dd;
}
#MD #inhoud tr:nth-child(even){
    background-color: #eaf1dd;
}
#MD #inhoud tr:nth-child(odd){
    background-color: #d6e3bc;
}
#MD #inhoud .lottable th{
    background-color: white;
    font-family: calibri;
    font-size: 2.5vh;
    font-weight: 600;
}

#MD #inhoud .lottable td{
    vertical-align: top;
    border: 1px solid white;
    font-size: 1.8vh;
    padding: 5px;
}
#MD #inhoud .datum{
    width: 5vw;
    text-align: center;
    background-color: #9bbb59;
    font-family: 'Catamaran', sans-serif;
    color: white;
    font-size: 1.7vh;
}






















/*
                                                      _              
                                                     | |             
  _ __   ___  _ __  _   _ _ __    ______    ___ _ __ | |_ _ __ _   _ 
 | '_ \ / _ \| '_ \| | | | '_ \  |______|  / _ \ '_ \| __| '__| | | |
 | |_) | (_) | |_) | |_| | |_) |          |  __/ | | | |_| |  | |_| |
 | .__/ \___/| .__/ \__,_| .__/            \___|_| |_|\__|_|   \__, |
 | |         | |         | |                                    __/ |
 |_|         |_|         |_|                                   |___/ */
#MD #entry{
    z-index: 3;
    display: none;
    width: 100vw;
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
    background-color: rgba(130, 130, 130, 0.61);
}
#MD #entrycontent{
    display: block;
    position: absolute;
    width: 53.4vw;
    height: 70vh;
    margin-left: -26.7vw;
    left: 50vw;
    top: 5vw;
    border: 20px solid white;
    background-color: white;
}
#MD #entrycontent #MD_entry_table{
    width: 50vw;
    position: relative;
    border-collapse: collapse;
    font-family: 'Catamaran', sans-serif;
}
#MD #entrycontent #MD_entry_table th{
    background-color: #D6D6D6; 
    font-size: 1vw;
    height: 5vh;
    background-color: white;
    border-bottom: 2px solid rgba(6, 108, 172, 0.67);
}
#MD #entrycontent #MD_entry_table td{
    padding: 0;
    background-color: white;
    border-left: 0.18vw solid white;
}
#MD #entrycontent #datum::-webkit-input-placeholder{ color: rgba(6, 108, 172, 0.67);}
#MD #entrycontent #weekdag::-webkit-input-placeholder{ color: rgba(6, 108, 172, 0.67);}
#MD #entrycontent #muziek::-webkit-input-placeholder{ color: rgba(6, 108, 172, 0.67);}
#MD #entrycontent #gebeurtenis::-webkit-input-placeholder{ color: rgba(6, 108, 172, 0.67);}
#MD #entrycontent #datum{ 
    width: 6vw;
}
#MD #entrycontent #weekdag{
    width: 2vw;
}
#MD #entrycontent #muziek{
    width: 12vw;
    overflow-y: scroll;
}
#MD #entrycontent #gebeurtenis{
    width: 30vw;
    overflow-y: scroll;
}
#MD #entrycontent #datum_label{
    background-color: white;
}
#MD #entrycontent #muziek::-webkit-scrollbar {
    width : 0px;
}
#MD #entrycontent #gebeurtenis::-webkit-scrollbar {
    width : 0px;
}
#MD #entrycontent textarea[type='text']{
    font-size: 1vw;
    border: none;
    overflow: auto;
    outline: none;
    resize: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    margin: 0;
    padding: 0.35vw;
    height: 20vh;
    background-color: rgba(111, 197, 250, 0.67);
}
#MD #entrycontent #upload{
    position: relative;
    width: 53.4vw;
    height: 45vh;
}
#MD #entrycontent #KB_button{
    text-align: center;;
    line-height: 20vh;
    position: absolute;
    margin-left:-14vw;
    left: 50%;
    top: 50%;
    width: 28vw;
    height: 20vh;
    margin-top: -10vh;
    overflow: auto;
    outline: none;
    border: 0px;
    background-color: #A0F41A;
    color: white;
    font-size: 3vw;
    font-family: 'Catamaran', sans-serif;
}
#MD #entrycontent #KB_button:hover{
    background-color: #73CC18;
}
#MD #entrycontent #sluiten{
    background-color: rgba(224, 24, 24, 0.75);
    position: absolute;
    margin-left:-14vw;
    left: 50%;
    text-align: center;
    top: calc(50% + 16vh);
    width: 28vw;
    padding-top: 0.7vh;
    margin-top: -5vh;
    color: white;
    font-size: 3vw;
    font-family: 'Catamaran', sans-serif;
}
#MD #entrycontent #sluiten:hover{
    background-color: rgba(213, 16, 16, 0.91);
}


/*
                                           _  ______  __  __ 
                                          | |/ /  _ \|  \/  |
  _ __   ___  _ __  _   _ _ __    ______  | ' /| |_) | \  / |
 | '_ \ / _ \| '_ \| | | | '_ \  |______| |  < |  _ <| |\/| |
 | |_) | (_) | |_) | |_| | |_) |          | . \| |_) | |  | |
 | .__/ \___/| .__/ \__,_| .__/           |_|\_\____/|_|  |_|
 | |         | |         | |                                 
 |_|         |_|         |_|                                 */
#MD #KBM{
    z-index: 3;
    display: none;
    width: 100vw;
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
    background-color: rgba(130, 130, 130, 0.61);
}
#MD #KBMcontent{
    display: block;
    position: absolute;
    width: 50.7vw;
    height: 70vh;
    margin-left: -25vw;
    left: 50vw;
    top: 5vw;
    border: 20px solid white;
    background-color: white;
}
#MD #KBMcontent #KBM_area{
    font-size: 1vw;
    border: none;
    overflow: auto;
    outline: none;
    resize: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    width: 50vw;
    margin: 0;
    padding: 0.35vw;
    height: 30vh;
    background-color: rgba(111, 197, 250, 0.67);
}
#MD #KBMcontent #upload{
    position: relative;
    width: 50.7vw;
    height: 40vh;
}
#MD #KBMcontent #KBM_button{
    line-height: 20vh;
    text-align: center;;
    position: absolute;
    margin-left:-14vw;
    left: 50%;
    top: 40%;
    width: 28vw;
    height: 20vh;
    margin-top: -10vh;
    overflow: auto;
    outline: none;
    border: 0px;
    background-color: #A0F41A;
    color: white;
    font-size: 3vw;
    font-family: 'Catamaran', sans-serif;
}
#MD #KBMcontent #KBM_button:hover{
    background-color: #73CC18;
}
#MD #KBMcontent #sluiten{
    background-color: rgba(224, 24, 24, 0.75);
    position: absolute;
    margin-left:-14vw;
    left: 50%;
    text-align: center;
    top: calc(40% + 16vh);
    width: 28vw;
    padding-top: 0.7vh;
    margin-top: -5vh;
    color: white;
    font-size: 3vw;
    font-family: 'Catamaran', sans-serif;
}
#MD #KBMcontent #sluiten:hover{
    background-color: rgba(213, 16, 16, 0.91);
}

/*
                                               _             
                                              | |            
  _ __   ___  _ __  _   _ _ __    ______    __| | __ _  __ _ 
 | '_ \ / _ \| '_ \| | | | '_ \  |______|  / _` |/ _` |/ _` |
 | |_) | (_) | |_) | |_| | |_) |          | (_| | (_| | (_| |
 | .__/ \___/| .__/ \__,_| .__/            \__,_|\__,_|\__, |
 | |         | |         | |                            __/ |
 |_|         |_|         |_|                           |___/ */
#MD #dagpopup{
    width: 100vw;
    height: 100vh;
    position: fixed;
    z-index: 3;
    background-color: rgba(255, 255, 255, 0);
    top: 0;
    left: 0;
    display: none;
}
#MD #dagpopup #temptable{
    position: absolute;
    border-collapse: collapse;
    border: 1px solid rgba(255, 255, 255, 0);
}

#MD #dagpopup #temptable .weekdag{
    font-family: 'Catamaran', sans-serif;
    text-align: center;
    font-size: 1.8vh;
    border-left: 1px solid white;
}
#MD #dagpopup #temptable .gebeurtenis{
    font-family: 'Catamaran', sans-serif;
    font-size: 1.8vh;
    border-left: 1px solid white;
}
#MD #dagpopup #temptable th{
    background-color: white;
    font-family: calibri;
    font-size: 2.5vh;
    font-weight: 600;
}

#MD #dagpopup #temptable td{
    vertical-align: top;
    padding: 5px;
}
#MD #dagpopup #temptable .datum{
    width: 5vw;
    text-align: center;
    background-color: #9bbb59;
    font-family: 'Catamaran', sans-serif;
    color: white;
    font-size: 1.8vh;
    border-right: 1px solid white;
}


/*
                                           _____  _  __
                                          |  __ \| |/ /
  _ __   ___  _ __  _   _ _ __    ______  | |__) | ' / 
 | '_ \ / _ \| '_ \| | | | '_ \  |______| |  _  /|  <  
 | |_) | (_) | |_) | |_| | |_) |          | | \ \| . \ 
 | .__/ \___/| .__/ \__,_| .__/           |_|  \_\_|\_\
 | |         | |         | |                           
 |_|         |_|         |_|*/

#MD #RKul{
    list-style: none;
    text-decoration: none;
    padding: 0;
    margin: 0;
}
#MD .RKa{
    box-sizing: border-box;
    position: relative;
    display: block;
    width: 230px;
    height: 40px;
    padding-left: 43px;
    font-size: 18px;
    font-family: 'Catamaran', sans-serif;
    line-height: 44px;
}

#MD #RK .helper {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}
#MD #RK .RKimg{
    position: absolute;
    height: 20px;
    width: 20px;
    margin-top: -10px;
    top: 50%;
    left: 15px;
}
#MD #RK h3{
    box-sizing: border-box;
    margin: 0;
    font-family: 'Roboto';
    text-align: center;
    font-size: 30px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: auto;
    height: 45px;
    box-shadow: inset 0px -1px 0px 0px black;
    color: black;
    font-weight: 100;
    line-height: 45px;
    font-style: normal;
}
#MD #RK #RKmenu{
    display: none;
    box-sizing: border-box;
    z-index: 5;
    width: 230px;
    height: auto;
    position: fixed;
    box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.3);
}
#MD #RK #RKtop{
    background-color: rgba(255, 255, 255, 0.7);
}
#MD #RK #RKbottom{
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: white;
}

/*
                                               _      _      _       
                                              | |    | |    | |      
  _ __   ___  _ __  _   _ _ __    ______    __| | ___| | ___| |_ ___ 
 | '_ \ / _ \| '_ \| | | | '_ \  |______|  / _` |/ _ \ |/ _ \ __/ _ \
 | |_) | (_) | |_) | |_| | |_) |          | (_| |  __/ |  __/ ||  __/
 | .__/ \___/| .__/ \__,_| .__/            \__,_|\___|_|\___|\__\___|
 | |         | |         | |                                         
 |_|         |_|         |_|                                         */

#MD #delpopup{
    z-index: 3;
    display: none;
    width: 100vw;
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
    background-color: rgba(130, 130, 130, 0.61);
}
#MD #delcontent{
    display: block;
    position: absolute;
    width: 50vw;
    height: 34vh;
    margin-left: -25vw;
    left: 50vw;
    margin-top: -17vh;
    top: 50vh;
    border: 20px solid white;
    background-color: white;
}

#MD #delcontent #nee{
    background-color: rgba(224, 24, 24, 0.75);
    position: absolute;
    right: 10vw;
    bottom: 2vw;
    display: block;
    text-align: center;
    line-height: 5vw;
    width: 15vw;
    height: 5vw;
    color: white;
    font-size: 3vw;
    font-family: 'Catamaran', sans-serif;
}
#MD #delcontent #nee:hover{
    background-color: rgba(213, 16, 16, 0.91);
}
#MD #delcontent #ja{
    background-color: #A0F41A;
    position: absolute;
    left: 10vw;
    bottom: 2vw;
    display: block;
    text-align: center;
    line-height: 5vw;
    width: 15vw;
    height: 5vw;
    color: white;
    font-size: 3vw;
    font-family: 'Catamaran', sans-serif;
}
#MD #delcontent #ja:hover{
    background-color: #73CC18;
}
#MD #delpopup #header{
    font-size: 2vw;
    font-family: 'Catamaran', sans-serif;
    text-align: center;
    margin-bottom: 2vh;
}
#MD #delpopup #doorgaan{
    font-size: 2vw;
    font-family: 'Catamaran', sans-serif;
    text-align: center;
    margin-bottom: 2vh;
    position: absolute;
    width: 50vw;
    bottom: 6.5vw;
}
#MD #delpopup #delitemscont{
    width: 43vw;
    height: 35vh;
    position: absolute;
    margin-left: -21.5vw;
    left: 50%;
    background-color: rgba(111, 197, 250, 0.67);
}

/*
                                                                    
                                                                    
  _ __   ___  _ __  _   _ _ __    ______    ___ _ __ _ __ ___  _ __ 
 | '_ \ / _ \| '_ \| | | | '_ \  |______|  / _ \ '__| '__/ _ \| '__|
 | |_) | (_) | |_) | |_| | |_) |          |  __/ |  | | | (_) | |   
 | .__/ \___/| .__/ \__,_| .__/            \___|_|  |_|  \___/|_|   
 | |         | |         | |                                        
 |_|         |_|         |_|                                        */

#MD #errorpopup{
    z-index: 3;
    display: none;
    width: 100vw;
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
}
#MD #errorpopup #errorcontent{
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    display: block;
    min-width: 410px;
    width: 30vw;
    height: auto;
    margin: auto auto auto auto;
    background-color: white;
}
#MD #errorpopup #errortitel{
    line-height: 40px;
    color: white;
    text-align: center;
    font-family: 'Catamaran', sans-serif;
    font-size: 30px;
    height: 40px;
    width: 100%;
    background-color: rgba(255, 0, 0, 0.68);
}
#MD #errorpopup #errorcont{
    box-sizing: border-box;
    width: 100%;
    padding: 10px 20px 10px 20px;
    font-family: 'Catamaran', sans-serif;
    font-size: 15px;
}
#MD #errorpopup #errorcont #errorDuplicateEntryCont{
    min-height: 0px;
    max-height: 50vh;
    overflow-y: scroll;
}
#MD #errorpopup #errorcont #errorDuplicateEntryCont::-webkit-scrollbar {
    width : 0px;
}
#MD #errorpopup #errorDuplicateSelectAll{
    position: relative;
    height: 50px;
    line-height: 50px;
}
#MD #errorpopup #errorDuplicateSelectAllCheck{
    margin-left: 10px;
    display: inline-block;
    vertical-align: middle;
    width: 12px;
    height: 12px;
    background-image: url('/lot/images/checkmark_leeg.png');
    background-size: 12px 12px;
}
#MD #errorpopup .errorDuplicateEntry{
    position: relative;
    line-height: 30px;
    text-align: center;
    height: 30px;
    width: 25%;
    float: left;
    transition: all 0.1s ease-in 0s;
}
#MD #errorpopup .errorDuplicateEntry:hover{
    cursor: pointer;
    background-color: rgb(240, 240, 240);
}
#MD #errorpopup .errorDuplicateEntryCheck{
    position: absolute;
    margin-top: -12.5px;
    top: 50%;
    left: 5px;
    width: 25px;
    height: 25px;
    background-image: url('/lot/images/checkmark_leeg.png');
    background-size: 12px 12px;
    background-repeat: no-repeat;
    background-position: center; 
}
#MD #errorpopup .errorDuplicateEntry tekst{
    position: absolute;
    right: 15px;
}
#MD #errorpopup #errorDuplicateSubmitCont{
    width: 100%;
    text-align: center;
    margin: 20px 0 10px 0;
}

#MD #errorpopup #errorDuplicateSubmitCont tekst{ 
    margin: 0;
    padding: 0;
    color: rgb(122, 178, 234);
    line-height: 18px;
    cursor: pointer;
}
#MD #errorpopup #errorDuplicateSubmitCont tekst:hover{
    color: rgb(59, 132, 206);
}



/*
                                           _                _                
                                          | |              | |               
  _ __   ___  _ __  _   _ _ __    ______  | |__   __ _  ___| | ___   _ _ __  
 | '_ \ / _ \| '_ \| | | | '_ \  |______| | '_ \ / _` |/ __| |/ / | | | '_ \ 
 | |_) | (_) | |_) | |_| | |_) |          | |_) | (_| | (__|   <| |_| | |_) |
 | .__/ \___/| .__/ \__,_| .__/           |_.__/ \__,_|\___|_|\_\\__,_| .__/ 
 | |         | |         | |                                          | |    
 |_|         |_|         |_|                                          |_|    */

#MD #backpopup{
    z-index: 3;
    display: none;
    width: 100vw;
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
    background-color: rgba(130, 130, 130, 0.61);
}
#MD #backpopup #back2{
    display: none;
}
#MD #backnavul{
    height: 5vh;
    width: 100%;
    background-color: #7CAFBF;
}
#MD #backpopup #backcontent{
    display: block;
    position: absolute;
    width: 50vw;
    height: 70vh;
    margin-left: -25vw;
    left: 50vw;
    margin-top: -35vh;
    top: 50vh;
    background-color: white;
}
#MD #backpopup .backnava{
    float: left;
    display: block;
    width: calc(50% - 2.5vh);
    height: 5vh;
    color: white;
    font-family: 'Catamaran', sans-serif;
    text-align: center;
    line-height: 5vh;
    font-size: 2vh;
}
#MD #backpopup #makebackup{
    background-color: #98D8ED;
}
#MD #backpopup #backsettings{
    display: block;
    margin: auto;
    text-align: center;
    background-color: #7CAFBF;
    width: 2vh;
    height: 2vh;
    position: absolute;
    padding: 1.5vh;
    right: 0;
    cursor: pointer;
}
#MD #backpopup .volgendepijl{
    position: absolute;
    right: 30px;
    bottom: 30px;
    background-image: url("/lot/images/volgendepijl.png");
    background-size: 7vw 7vw;
    display: block;
    width: 7vw;
    height: 7vw;
    transition: all 0.1s ease-in 0s;
    cursor: pointer;
}
#MD #backpopup .volgendepijl:hover{
     -webkit-filter: brightness(0.8);
}
#MD #backpopup .vorigepijl{
    position: absolute;
    left: 60px;
    bottom: 60px;
    background-image: url("/lot/images/vorigepijl.png");
    background-size: 4vw 3.5vw;
    display: block;
    width: 4vw;
    height: 3.5vw;
    transition: all 0.1s ease-in 0s;
    cursor: pointer;
}
#MD #backpopup .vorigepijl:hover{
     -webkit-filter: brightness(0.8);
}
/*BACKUP MAKEN*/
#MD #backpopup #back1{
    display: block;
    padding: 25px;
}
#MD #backpopup #back1 #layer1-2{
    display:none;
}
#MD #backpopup #back1 #layer1-3{
    display:none;
}
#MD #backpopup p1{
    font-family: tahoma;
    font-size: 20px;
}
#MD #backpopup #back1 #backupitemscont{
    margin-top: 25px;
    width: 100%;
    height: 40vh;
    background-color: white;
}
#MD #backpopup #back1 #backupitemscont2{
    display: table;
    margin: 0 auto;
    height: 100%;
}
#MD #backpopup #back1 #backupitemscont3{
    width: auto;
}



#MD #backpopup #back1 .backnavmaandInhoud{
    display: none;
}
#MD #backpopup #back1 .backnavjaarInhoud{
    display: block;
}
#MD #backpopup #back1 .expand{
    position: absolute;
    height: 15px;
    width: 15px;
    margin-top: -7.5px;
    top: 50%;
    right: 6px;
    opacity: 0;
    cursor: pointer;
}
#MD #backpopup #back1 .check{
    background-image: url('/lot/images/checkmark_leeg.png');
    background-size: 15px 15px;
    z-index: 10;
    position: absolute;
    height: 15px;
    width: 15px;
    margin-top: -7.5px;
    top: 50%;
    left: 9px;
    opacity: 0;
    cursor: pointer;
}

#MD #backpopup #back1 .backnavdeel{
    display: block;
    width: auto;
    overflow-y: scroll;
    float: left;
    height: 40vh;
}
#MD #backpopup #back1 ::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}
/*opmaak van verschillende layers*/
/*----layer 1*/
#MD #backpopup #back1 .backnavjaar{
    display: inline-block;
    width: calc(9vw - 10px);
    font-family: 'Catamaran', sans-serif;
    font-size: 3vh;
    align-items: center;
    text-align: center;
}
#MD #backpopup #back1 .backnavjaarlink{
    position: relative;
    display: block;
}
#MD #backpopup #back1 .backnavjaarlink:hover{
    background-color: rgba(63, 142, 191, 0.15);
}
#MD #backpopup #back1 .backnavjaarlink:hover .expand{
    opacity: 1;
}
#MD #backpopup #back1 .backnavjaarlink:hover .check{
    opacity: 1 !important;
}
#MD #backpopup #back1 .backnavjaar:hover{
    box-shadow: inset -3px 0px 0px 0px #73C7DE;
    background-color: white;
}


/*----layer 2*/
#MD #backpopup #back1 .backnavmaand{
    display: block;
    /*z-index: 2;*/
    width: calc(9vw - 10px);
    font-family: 'Catamaran', sans-serif;
    font-size: 1.7vh;
}
#MD #backpopup #back1 .backnavmaandlink{
    position: relative;
    display: block;
    padding-top: 3px;
    padding-bottom: 3px;
}
#MD #backpopup #back1 .backnavmaand:hover{
    box-shadow: inset -3px 0px 0px 0px #A4F53B;
    background-color: white;
}
#MD #backpopup #back1 .backnavmaandlink:hover{
    background-color: rgba(102, 228, 5, 0.19);
}
#MD #backpopup #back1 .backnavmaandlink:hover .expand{
    opacity: 1;
}
#MD #backpopup #back1 .backnavmaandlink:hover .check{
    opacity: 1 !important;
}

/*----layer 3*/
#MD #backpopup #back1 .backnavdag{
    /*z-index: 3;*/
    display: block;
    width: calc(9vw - 10px);
    font-family: 'Catamaran', sans-serif;
    font-size: 1.4vh;
}
#MD #backpopup #back1 .backnavdaglink{
    position: relative;
    padding-left: 10px;
    display: block;
    padding-top: 1px;
    padding-bottom: 1px;
}
#MD #backpopup #back1 .backnavdaglink:hover{
    box-shadow: inset -3px 0px 0px 0px #F05B5B;
    background-color: #FFF2F2;
}



#MD #backpopup #back1 #backupitemscont::-webkit-scrollbar {
    width: 15px;
}
#MD #backpopup #back1 .backnavdaglink:hover .check{
    opacity: 1 !important;
}



#MD #backpopup #back1 #backselectcont{
    box-sizing: border-box;
    position: absolute;
    left: 10px;
    bottom: 10px;
    padding: 10px;
    width: 39vw;
    height: 14vh;
    overflow-y: scroll;
}
#MD #backpopup #back1 #backselectcont::-webkit-scrollbar {
    width : 10px;
}
#MD #backpopup #back1 #backselectcont::-webkit-scrollbar-thumb {
    background: #EDEDED;
    height: 15px;
}
#MD #backpopup #back1 .backselectitem{
    display: inline-block;
    width: auto;
    padding: 4px 7px 4px 7px;
    border-radius: 50px;
    background-color: rgb(219, 219, 219);
    font-family: Helvetica;
    font-size: 15px;
    color: rgb(61, 61, 61);
    position: relative;
    margin: 0px 3px 5px 0px;
}
#MD #backpopup #back1 .backselectitemkruis{
    height: 15px;
    width: 15px;
    display: block;
    background-image: url("/lot/images/selectkruis.png");
    float: left;
    background-size: 15px 15px;
    position: absolute;
    margin-top: -7.5px;
    top: 50%;
    opacity: 0.8;
}
#MD #backpopup #back1 .backselectitemkruis:hover{
    background-image: url("/lot/images/selectkruis_hover.png");
    opacity: 0.5;
    cursor: pointer;
}
#MD #backpopup #back1 .backselectitem p{
    margin-left: 18px;
}



/*layer1-2*/
#MD #backpopup #back1 #layer1-2content{
    display: block;
    width: 100%;
    height: 100%;
}
#MD #backpopup #back1 #layer1-2content p1{
    display: block;
    width: 100%;
    position: absolute;
    left: 0;
    top: 15vh;
    text-align: center;
    font-size: 3.5vh;
}

#MD #backpopup #back1 #backupnaamcont{
    height: 13vh;
    width: 40vw;
    display: block;
    position: absolute;
    margin-left: -20vw;
    left: 50%;
    margin-top: -6.5vh;
    top: 50%;
}
#MD #backpopup #back1 #backupnaamtextarea{
    box-sizing: border-box;
    float: left;
    display: block;
    width: 35vw;
    text-align: center;
    height: 13vh;
    font-size: 8vh;
    background-color: #9EDBF0;
    color: white;
    
    
    border: none;
    overflow: auto;
    outline: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    margin: 0;
    
}

#MD #backpopup #back1 #layer1-2content #txtcont{
    display: block;
    float: left;
    width: 5vw;
    height: 13vh;
    position: relative;
    
}

#MD #backpopup #back1 #layer1-2content #txtcont #txt{
    padding: 0px;
    position: absolute;
    right: 0;
    bottom: 10px;
    height: 5vh;
    font-size: 5vh;
    font-family: 'Catamaran', sans-serif;
}
#MD #backpopup #back1 #layer1-2content error{
    text-align: center;
    position: absolute;
    bottom: 21vh;
    display: none;
    width: 50vw;
    margin-left: -25vw;
    left: 50%;
    color: red;
    font-size: 4vh;
    font-family: 'Catamaran', sans-serif;
}


/*layer 1-3*/
#MD #backpopup #back1 #layer1-3content{
    display: block;
    width: 100%;
    height: 100%;
}
#MD #backpopup #back1 #layer1-3content p1{
    display: block;
    width: 100%;
    left: 0;
    position: absolute;
    top: 10vh;
    text-align: center;
    font-size: 3.5vh;
}
#MD #backpopup #back1 #opmerkingtextarea{
    height: 30vh;
    width: 40vw;
    display: block;
    position: absolute;
    margin-left: -20vw;
    left: 50%;
    margin-top: -15vh;
    top: 50%;
    box-sizing: border-box;
    text-align: left;
    font-size: 3.5vh;
    line-height: 3.5vh;
    background-color: #9EDBF0;
    color: white;
    padding: 10px;
    font-family: 'Catamaran', sans-serif;
    border: none;
    overflow: auto;
    outline: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    
}


/* BACKUP TERUGZETTEN */
#MD #backpopup #layer2-2{
    display: none;
}
/*layer 2-1*/
#MD #backpopup #back2{
    display: none;
    padding: 25px;
}
#MD #backpopup #layer2-1 p1{
    display: block;
    width: 48vw;
    margin-bottom: 25px;
}
#MD #backpopup #layer2-1 li{
    list-style: none;
}
#MD #backpopup #layer2-1 #backuplistcont{
    height: 50vh;
    width: auto;
    display: block;
    position: relative;
}
#MD #backpopup #layer2-1 #backuplistcont2{
    margin-left: auto;
    margin-right: auto;
    width: 40vw;
}
#MD #backpopup #layer2-1 ::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}
#MD #backpopup #layer2-1 .backups{
    display: block;
    height: 35px;
    width: 40vw;
    position: relative;
    background-color: rgba(239, 239, 239, 0.63);
}
#MD #backpopup #layer2-1 .backups:hover{
    background-color: rgb(214, 214, 214);
    cursor: pointer;
}
#MD #backpopup #layer2-1 .backupdatum{
    position: absolute;
    right: 10px;
    top: 0;
    line-height: 35px;
    font-size: 15px;
    font-family: Tahoma;
    color: rgba(0,0,0,0.5);
}

#MD #backpopup #layer2-1 .backupnaam{
    position: absolute;
    left: 33px;
    top: 0;
    line-height: 35px;
    font-size: 20px;
    font-family: Tahoma;
}
#MD #backpopup #layer2-1 .check{
    background-image: url('/lot/images/checkmark_leeg.png');
    background-size: 15px 15px;
    position: absolute;
    height: 15px;
    width: 15px;
    margin-top: -7.5px;
    top: 50%;
    left: 9px;
    cursor: pointer;
}
#MD #backpopup .backupopmerking{
    position: absolute;
    display: inline-block;
    opacity: 0;
    background-color: rgb(91, 91, 91);
    color: white;
    font-family: 'Catamaran', sans-serif;
    font-size: 15px;
    max-width: 15vw;
    word-wrap: break-word;
    padding: 8px;
    border-radius: 10px;
    left: 0;
    top: 0;
    transition: opacity 0.2s ease-in-out 0s;
}
#MD #backpopup #back2 #layer2-1 error{
    text-align: center;
    position: absolute;
    bottom: 0px;
    display: none;
    width: 50vw;
    margin-left: -25vw;
    left: 45%;
    color: red;
    font-size: 3vh;
    font-family: 'Catamaran', sans-serif;
}

/*layer 2-2*/
#MD #backpopup #layer2-2 #selectedbackups{
    background-color: rgb(246, 246, 246);
    display: inline-block;
    padding: 3px 10px 3px 10px;
    width: auto;
}
#MD #backpopup #layer2-2 #SBT::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}
#MD #backpopup #layer2-2 #SBT{
    display: block;
    position: absolute;
    height: 45vh;
    overflow-y: scroll;
    top: 20vh;
    width: 35vw;
    margin-left: -17.5vw;
    left: 50%;
    border-spacing: 0;
}
#MD #backpopup #layer2-2 .SBTtr{
    display: block;
    margin: 0px -2px 20px 0px;
    padding: 0;
    height: 30px;
    width: 35vw;
    background-color: rgba(239, 239, 239, 0.63);
}
#MD #backpopup #layer2-2 .SBTth{
    padding: 0;
    font-weight: 100;
    width: 30px;
    vertical-align: top;
    line-height: 30px;
    font-size: 22px;
    font-family: 'Catamaran', sans-serif;
    background-color: rgb(239, 239, 239);
    z-index: 2;
    position: relative;
}
#MD #backpopup #layer2-2 .SBTtd{
    padding: 0;
}
#MD #backpopup #layer2-2 .layer2-2dropdown{
    display: block;
    position: relative;
    box-sizing: border-box;
    background-color: rgb(239, 239, 239);
    width: calc(35vw - 30px);
    height: 30px;
    margin: 0;
    font-family: 'Catamaran', sans-serif;
    font-size: 20px;
    cursor: pointer;
    z-index: 2;
    padding-left: 10px;
}
#MD #backpopup #layer2-2 .layer2-2dropdown:hover{
    background-color: rgb(221, 221, 221);
}
#MD #backpopup #layer2-2 .SBTselect .layer2-2dropdown2{
    display: none;
}




